version: "3.8"

networks:
  default:
    name: ergo-graphql

volumes:
  ergo_redis:
    external: true

services:
  # Postgresql database
  db:
    build:
      context: ./db
      args:
        EXPLORER_VERSION: 9.16.6
    # -- Ucomment and edit if wanting to set custom work_mem value
    # -- https://www.postgresql.org/docs/current/runtime-config-resource.html
    # command: ["postgres", "-c", "work_mem=4MB"]
    environment:
      POSTGRES_DB: ergo
      POSTGRES_USER: ergo
      POSTGRES_PASSWORD: ergopassword
    volumes:
      # Mapped volume for easier Postgres upgrades.
      # Make sure the path exists or edit it here.
      # See also readme_pg_upgrade.md
      - /var/lib/explorer_pg/14/data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"
        
  # Redis
  redis:
    image: redis:latest
    restart: unless-stopped
    command: ["redis-server"]
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ergo_redis:/usr/local/etc/redis

  # Explorer backend chain-grabber
  grabber:
    build:
      context: ./explorer-backend-9.16.6
      dockerfile: chain-grabber.Dockerfile
    environment:
      POSTGRES_PASSWORD: ergopassword
    volumes:
      - ./explorer-backend.conf:/explorer-backend.conf:ro
    networks:
      - default
    command: /explorer-backend.conf
    links:
      - "db"
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  # Mempool tracker
  utx-tracker:
    build:
      context: ./explorer-backend-9.16.6
      dockerfile: utx-tracker.Dockerfile
    environment:
      POSTGRES_PASSWORD: ergopassword
    volumes:
      - ./explorer-backend.conf:/explorer-backend.conf:ro
    networks:
      - default
    command: /explorer-backend.conf
    links:
      - "db"
    restart: unless-stopped
    logging:
      options:
        max-size: "10m"
        max-file: "3"

  # GraphQL
  graphql:
    image: johnhanlon86/flux-ergo-graphql:latest
    environment:
      # database host address    
      DB_HOST: db                     
      # database host port      
      DB_PORT: 5432                   
      # database name      
      DB_NAME: ergo                   
      # database user name      
      DB_USER_NAME: ergo          
      # database user name
      DB_USER_PWD: ergopassword
      # ergo node address and port
      ERGO_NODE_ADDRESS: https://node.erg.zelcore.io
      # optional: MAINNET or TESTNET      
      NETWORK: MAINNET                
      # optional: redis host address
      REDIS_HOST: redis               
      # optional: redis host port      
      REDIS_PORT: 6379                
      # optional: redis username      
      REDIS_USER_NAME: default               
      # optional: redis user password      
      REDIS_USER_PWD: redispassword
      # optional: maximum query depth
      MAX_QUERY_DEPTH: 5              
    links:
      - "db"
      - "redis"
    ports:
      - 3001:3000
      